# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# FlowForge
*.png
*.jpg
*.mkv
*.mp4
*.avi
temp/
/models/

# Build artifacts
dist/
build/
*.spec
